<ul class="nav nav-pills flex-column menu-widget-side">
  <li class="nav-item">
    <a routerLink="/admin/dashboard" class="nav-link">
      <fa name="th mr-2"></fa>
      Dashboard
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/books" class="nav-link">
      <fa name="book mr-2"></fa>
      Books
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/students" class="nav-link">
      <fa name="users mr-2"></fa>
      Students
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/lecturers" class="nav-link">
      <fa name="users mr-2"></fa>
      Lecturers
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/admin/orders" class="nav-link">
      <fa name="list-alt mr-2"></fa>
      Orders
    </a>
  </li>
</ul>
