<div class="my-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white">
      <li class="breadcrumb-item">
        <a routerLink="" class="text-secondary">
          <fa name="home"></fa> Home
        </a>
      </li>
      <li class="breadcrumb-item active">
        <a routerLink="/cart/" class="text-warning">
          <fa name="shopping-cart"></fa>
          my orders
        </a>
      </li>
    </ol>
  </nav>
</div>

<div class="container my-3">
  <div class="card shadow border-0">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <fa name="list-alt fa-3x mr-3 text-warning"></fa>
        <h4>My Orders</h4>
      </div>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-body scroll-x">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Sn</th>
                <th>Payment Ref</th>
                <th>Amount Paid</th>
                <th>Status</th>
                <th>
                  Action
                  <fa name="cog"></fa>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orders; index as i;">
                <td>
                  {{i+1}}.
                </td>
                <td>
                  {{item.paymentRef}}
                </td>
                <td>
                  {{item.totalAmount}}
                </td>
                <td>
                  {{item.status}}
                </td>
                <td>
                  <a [routerLink]="'/order/items/'+item.id" class="btn btn-sm btn-outline-info">
                    <fa name="eye"></fa>
                    view items
                  </a>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <a routerLink="/books" class="btn btn-outline-warning">
        Continue Shopping
        <fa name="shopping-cart"></fa>
      </a>
    </div>
  </div>
</div>
