<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-12 col-md-3 col-lg-2"></app-sidebar>
    <div class="col-12 col-md-9 col-lg-10">
      <div class="mt-3">
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/admin/dashboard">dashboard</a>
          </li>
          <li class="breadcrumb-item">
            orders
          </li>
        </ul>
      </div>
      <div class="card my-3">
        <div class="card-header bg-white">
          <form action="">
            <input type="text" name="searchquery" class="form-control" placeholder="search for order by order no"
              autocomplete="off" />
          </form>
        </div>
        <div class="card-body scroll-x">
          <table class="table table-hover table-striped">
            <caption class="text-uppercase">Book Orders</caption>
            <thead>
              <tr>
                <th>#</th>
                <th>Order No</th>
                <th>Student</th>
                <th>Payment Ref</th>
                <th>Amount Paid</th>
                <th>Status</th>
                <th>Order Date</th>
                <th>
                  <fa name="cog"></fa> Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; index as i;">
                <td>{{i+1}}.</td>
                <td>{{order.id}}</td>
                <td>{{order.Student.matricNo}}</td>
                <td>{{order.paymentRef}}</td>
                <td>{{order.totalAmount}}</td>
                <td>{{order.status}}</td>
                <td>{{order.createdAt | date}}</td>
                <td>
                  <button class="btn btn-info btn-sm" data-toggle="dropdown">
                    more
                  </button>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">
                      <fa name="info-circle"></fa>
                      Items ordered
                    </a>
                    <a href="javascript: void(0)" class="dropdown-item" (click)="onChangeStatus(order)">
                      <fa name="undo"></fa>
                      Change Status
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
